.md-header__button.md-logo img {
    height: 2rem; /* Adjust this to make your logo bigger */
    width: auto;
}

.logo-orange {
	color: #EE961C;
	font-weight: bold;
}

b {
  color: #1a237e; /* Matches your indigo theme */
}